@section Scripts
{
    <link href="~/Content/css/cus_home.css" rel="stylesheet" />
}
<div class="home">
    <div class="pic">
        <p>HD House Cleaning Ltd.</p>
        <p>Let Us do the "Dirty" Work for You!</p>
    </div>
    <div class="companyInfo">
        <p class="title1">
            About Us
        </p>
        <p id="info">
            We are a professional house cleaning company established in 2020. Currently we have developed to all major cities in Australia,
            having 500 cleaning staffs all over Australia and more than 2000 customers has chosen our services.
        </p>
        <p id="info">
            Choose us, we won't make you regret!
        </p>
        <p>
            Our CEO Shain is really good, we love him!
        </p>
    </div>
    <div id="services">
        <p class="title1"> Services </p>
        <div class="serviceList">
            <h4>Returningn Clean</h4>
            <p>
                Want to claim a full bond return after moving home? Choose our returnning clean service, we can make your
                home clean as new
            </p>
            <p class="price"> Price: 80 AUD for one hour</p>
        </div>
        <div class="serviceList">
            <h4>Garden Clean</h4>
            <p>
                Want to keep your garden as beutifual as a summer palace? Choose our Garden Clean service, we can give a hand!
            </p>
            <p class="price"> Price: 50 AUD for one hour</p>
        </div>
    </div>

</div>