@section Scripts
{
    <link href="~/Content/css/cus_home.css" rel="stylesheet" />
}
<div class="home">
    <div class="pic">
        <p>HD House Cleaning Ltd.</p>
        <p>Let Us do the "Dirty" Work for You!</p>
    </div>
    <div class="companyInfo">
        <p id="title1">
            About Us
        </p>
        <p id="info">
            We are a professional house cleaning company established in 2020. Currently we have developed to all major cities in Australia,
            having 500 cleaning staffs all over Australia and more than 2000 customers has chosen our services.
        </p>
        <p id="info">
            Choose us, we won't make you regret!
        </p>
        <p>
            Our CEO Shain is really good, we love him!
        </p>
    </div>

</div>