@section Scripts
{
    <link href="~\Content\css\cus_service.css" rel="stylesheet" />
}
<div class="service">
    <div class="title">
        <div class="logo">
            HD Cleaning Ltd.
        </div>
        <div class="slogan">
            <p class="text">HD Cleaning Ltd. is one of the most professional house cleaning service provider in Australia. We are pleased to help you get
            rid of the exhuasting daily housework!
            </p>
            
        </div>
    </div>
    <div class="quatation">
        <div class="subQ">
            <div class="qTitle">
                Returning Cleaning
            </div>
            <div>
                <p>90 Per Hour</p>
            </div>
        </div>
        <div class="subQ">
            <div class="qTitle">
                Returning Cleaning
            </div>
            <div>
                <p>90 Per Hour</p>
            </div>
        </div>
        <div class="subQ">
            <div class="qTitle">
                Returning Cleaning
            </div>
            <div>
                <p>90 Per Hour</p>
            </div>
        </div>
    </div>
</div>